.header {
    width: 1249px;
    min-height: 89px;
    background-color: black;
    text-align: center;
    margin:0 auto;
    /*position: fixed;
    top:0;*/
}

.site_menu {
    display: inline-block;
    margin:0 auto;
    
}

.site-menu > a {
    color: rgba(224, 224, 224, 1);
    display:inline-block;
    font-size: 14px;
    padding: 42px 25px 30px;
    text-transform: uppercase;
}

.site-menu > a:hover {
    color: yellow;
    background-color: red;
}

.contact_link {
    color: white;
    background-color: red;
    display:inline-block;
    width: 227px;
    padding: 22px 0;
    text-align: center;
}

.contact_link:hover {
    color: yellow;
    background-color: rgb(161, 39, 39);
    display:inline-block;
    width: 227px;
    padding: 22px 0;
    text-align: center;
}

.main {
    
}

.main_image {
    width: 450px;
    
}

.blocks {
    display:inline-block;
    width: 551px;
    height: 356;
    margin-top: 102px;
    margin-right: 50px;
    /*background-color: orange;*/
}